<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' id='classic-theme-styles-css' href='https://greenstonebio.com/wp-includes/css/classic-themes.min.css?ver=6.2.2' media='all' />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
    <title>Chemprop</title>
    <style>
        /* Add custom styles for the header */
        .navbar.navbar-inverse {
            background-color: #e5f6fc;
            border-color: #12272b;
        }
        .navbar.navbar-inverse .navbar-nav > li > a {
            color: white; /* Change text color to white for better contrast */
        }
        .navbar.navbar-inverse .navbar-toggle .icon-bar {
            background-color: white; /* Change the hamburger icon color to white */
        }
    </style>
    
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="https://greenstonebio.com"><img src="../static/images/ADMET.jpeg" alt="ADMET AI Logo" style="width:70px;height:70px;"/></a>
            <!-- <a class="navbar-brand" href="{{ url_for('home') }}">Chemprop</a> -->
        </div>
        <ul class="nav navbar-nav">
            {#
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if not config['DEMO'] %}
            <li><a href="{{ url_for('train') }}">Train</a></li>
            {% endif %}
            #}
            <li><h3>ADMET AI</h3></li>
            {#
            {% if not config['DEMO'] %}
            <li><a href="{{ url_for('data') }}">Data</a></li>
            <li><a href="{{ url_for('checkpoints') }}">Checkpoints</a></li>
            {% endif %}
            #}
        </ul>
        {#
        {% if not config['DEMO'] %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" id="currentUser" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
                <ul class="dropdown-menu" id="userSelect">
                    {% for id, user in users.items() %}
                        <li id="select{{ id }}"><a value="{{ id }}" href="#" class="userSelect">{{ user.username }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="{{ url_for('create_user') }}">Create User</a></li>
        </ul>
        {% endif %}
        #}
    </div>
</nav>

<div class="container">
    {% block title %}{% endblock %}
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-left"><a href="https://admet.ai.greenstonebio.com">ADMET-AI</a> is a collaboration between <a href="https://greenstonebio.com/">Greenstone Biosciences</a> and <a href="https://www.james-zou.com/">Prof. James Zou's lab</a> at Stanford University. <a href="https://github.com/swansonk14/admet_ai">Source Code</a> © 2023.</p>
    </div>
</nav>

</body>
{% if not config['DEMO'] %}
<script>
    let users = {{ users | tojson }};
    let currentUser = Cookies.get("currentUser");

    if (currentUser === undefined || !(currentUser in users)) {
        currentUser = 1;
        Cookies.set("currentUser", currentUser);
    }

    $('#currentUser').prepend(users[currentUser].username);
    $('#select' + currentUser).css('display', 'none');

    $(".userSelect").click(function() {
        Cookies.set("currentUser", $(this).attr('value'));
        location.reload();
    });
    </script>

</script>
{% endif %}
</html>
