{% extends "layout.html" %}
{% from 'macros.html' import add_checkpoint, chemdraw, error_message, warning_message %}

{% block title %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMET-AI Prediction</title>
    <style>
        

        #cont1 {
            max-width: 1000px;
            margin: 0 auto;
            padding: 20px;
            background-color: white;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 10px;
            color: #333;
        }

        h3 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #555;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            color: #777;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container" id="cont1">
        <h1>ADMET-AI Prediction</h1>
        <h3>Information</h3>
        <p>
            Explanation about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum.
        </p>
        <p>
            ADMET-AI is still in beta testing mode, more improvements and a paper will come out later
        </p>
        <p> Chemprop <a href="https://github.com/chemprop/chemprop"> Code</a> and <a href="https://pubs.acs.org/doi/full/10.1021/acs.jcim.9b00237"> Paper</a>.</p>
        <p>  <a href="https://www.cell.com/cell/fulltext/S0092-8674(20)30102-1"> Antibiotics</a> and <a href="https://tdcommons.ai/"> TDC</a> Information.</p>

    </div>
</body>

{% endblock %}



{% block content %}
<body>
    <div class="container" id="cont1">
        <style>
            body {
                background-image: url('../static/images/icon_faded.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
        </style>

        {% if not config['DEMO'] and config['ALLOW_CHECKPOINT_UPLOAD'] %}
        {{ add_checkpoint('predict', checkpoint_upload_warnings, checkpoint_upload_errors) }}
        <hr>

        
        {% endif %}
        

        {% if max_molecules %}
            <p>Note: Predictions can be made for at most {{ max_molecules }} molecules at a time.</p>
        {% endif %}

        <form enctype="multipart/form-data" method="POST">
    {#        <!--Model checkpoint selector-->#}
    {#        <h5>Model checkpoint</h5>#}
    {#        <select name="checkpointName" required>#}
    {#            {% for checkpoint in checkpoints %}#}
    {#                <option value="{{ checkpoint[0] }}">{{ checkpoint[1] }}</option>#}
    {#            {% endfor %}#}
    {#        </select>#}
    {##}
    {#        <br>#}
    {#        <br>#}

            <!--SMILES upload type selector-->
            <div class="btn-group" id="inputSelect" data-toggle="buttons">
                <label id="textButton" class="btn btn-primary active">
                <input type="radio" name="inputType" value="text" autocomplete="off"> Text Input
                </label>
                <label id="fileButton" class="btn btn-primary">
                <input type="radio" name="inputType" value="file" autocomplete="off"> Upload File
                </label>
                <label id="drawButton" class="btn btn-primary">
                <input type="radio" name="inputType" value="file" autocomplete="off"> Draw Molecule
                </label>
            </div>

            <br>

            <!--SMILES input-->
            <div id="textInputForm">
                <h5>SMILES (one per line)</h5>
                <textarea id="textSmilesInput" name="textSmiles" cols="100" rows="10" placeholder="SMILES" required></textarea>
            </div>
            <div id="fileInputForm" style="display:none">
                <h5>File containing SMILES (one per line)</h5>
                <input id="fileSmilesInput" type="file" name="data" accept=".csv">
            </div>
            <div id="drawInputForm" style="display:none">
                <h5>Draw a molecule</h5>
                {{ chemdraw() }}
                <br>
                <button type="button" id="convertToSmiles" class="btn btn-primary btn-xs">Convert to SMILES</button>
                <input id="drawSmilesInput" name="drawSmiles" placeholder="SMILES">
            </div>

            <br>

            <!--SMILES input functionality-->
            <script>
                $(document).ready(function() {
                    $(document).ready(function() {
                        $("#textButton").click(function() {
                            $("#textInputForm").show();
                            $("#textSmilesInput").prop('required', true);
                            $("#fileInputForm").hide();
                            $("#fileSmilesInput").prop('required', false);
                            $("#drawInputForm").hide();
                            $("#drawSmilesInput").prop('required', false);
                            $("#drawSmilesInput").val('');
                        });
                        $("#fileButton").click(function() {
                            $("#textInputForm").hide();
                            $("#textSmilesInput").prop('required', false);
                            $("#textSmilesInput").val('');
                            $("#fileInputForm").show();
                            $("#fileSmilesInput").prop('required', true);
                            $("#drawInputForm").hide();
                            $("#drawSmilesInput").prop('required', false);
                            $("#drawSmilesInput").val('');
                        });
                        $("#drawButton").click(function() {
                            $("#textInputForm").hide();
                            $("#textSmilesInput").prop('required', false);
                            $("#textSmilesInput").val('');
                            $("#fileInputForm").hide();
                            $("#fileSmilesInput").prop('required', false);
                            $("#drawInputForm").show();
                            $("#drawSmilesInput").prop('required', true);
                        });
                    });

                    $("#convertToSmiles").click(function() {
                        $("#drawSmilesInput").val(jsmeApplet.smiles());
                    });
                });
            </script>
            <!--GPU selector-->
            {% if cuda %}
                <h5>GPU</h5>
                <select name="gpu">
                    <option value="None">None</option>
                    {% for gpu in gpus %}
                        <option value="{{ gpu }}">{{ gpu }}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
            {% endif %}

            <button type="submit" class="btn btn-primary btn-md">Predict</button>
        </form>

        <br>

        {% if warnings %}
            {% for warning in warnings %}
                {{ warning_message(warning) }}
            {% endfor %}
        {% endif %}

        {% if errors %}
            {% for error in errors %}
                {{ error_message(error) }}
            {% endfor %}
        {% endif %}

        {% if predicted %}
            <hr>

            <a href="{{ url_for('download_predictions') }}"><button class="btn btn-default btn-md">Download Results</button></a>

            

            <!-- UNFINISHED: Sort Function -->
            <!-- <button class="btn btn-default btn-md" onclick="SortData()">
                Sort Predictions
            </button>
              
            <script>
                function comparator(a, b) {
                    if (a.dataset.index < b.dataset.index)
                        return -1;
                    if (a.dataset.index > b.dataset.index)
                        return 1;
                    return 0;
                }
                  
                // Function to sort Data
                function SortData() {
                    var indexes = document.querySelectorAll("[data-index]");
                    var indexesArray = Array.from(indexes);
                    let sorted = indexesArray.sort(comparator);
                    sorted.forEach(e =>
                        document.querySelector("#list").appendChild(e));
                }
            </script>   -->

            <br>
            <br>

            <div style="flex: 1; width: 100%;">
                {{ drugbank_plot|safe }}
            </div>

            <style>
                /* Add styles for the table */
                table {
                    min-width: 300px
                    width: 30%; /* Adjust the width as needed */
                    border-collapse: collapse;
                    background-color: #f2f2f2;
                }

                th, td {
                    padding: 4px; /* Adjust the padding as needed */
                    border: 1px solid #dddddd;
                    text-align: center;
                    font-size: 12px; /* Adjust the font size as needed */
                }

                th {
                    background-color: #12272b;
                    color: white;
                }

                /* CSS for  image container */
                .mol-image {
                    display: inline-block;
                    border: 1px solid #ddd;
                    border-radius: 8px;
                    padding: 5px;
                    margin-left: 10px;
                    background-color: #f8f4f4; 
                }

                .collapse {
                    /* background-color: #d01212;  */
                    border: 1px solid #ddd;
                    border-radius: 8px;
                    padding: 15px;
                }

                .btn-link2 {
                    border: 1px solid #ddd;
                    border-radius: 8px;
                    /* padding: 15px; */
                    width: 100%;
                    text-align: left;
                    padding-top: 10px; 
                    padding-bottom: 10px;
                    padding-right: 15px;
                    padding-left: 15px;
                    background-color: #d0ece4;
                    /* color: #007bff; */
                    text-decoration: none;
                }

                .btn-link2:hover {
                    text-decoration: underline;
                }

                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }

            </style>
            
            <!-- <label for="models">Select Model for Sorting:</label>
            <select name="models" id="models">
                <option value="0">ClinTox</option>
                <option value="1">Test</option>
                <option value="2">Placeholder</option>
                
            </select> -->

  

            <ul id="list">
                    {% for smiles_index in range(num_smiles) %}
                    
                    <li class="index" data-index="{{ '%0.4f'|format(preds[smiles_index][0]) }}">
                        <div>
                            <button id="collapseButton{{ smiles_index }}" class="btn btn-link2" type="button" data-toggle="collapse" data-target="#collapseInfo{{ smiles_index }}" aria-expanded="false" aria-controls="collapseInfo{{ smiles_index }}">
                                <strong>Molecule {{ smiles_index + 1 }}  </strong>
                            </button>
                        </div>

                        <div id="collapseInfo{{ smiles_index }}" class="collapse">
                            <!-- Display PubChem link and molecule image here -->
                            <!-- <br> -->
                            <strong>SMILES:</strong> {{ smiles[smiles_index] }}
                            <br>
                            <br>
                            <!-- <div id="pubchem-link{{ smiles_index }}"></div> -->
                            <br>
                            
                            <br>
                            <br>

                            <!-- List of PRC-AUC values that match the key -->
                            {% set PRC_values = 
                                [0.1188409991,
                                0.5353277512,
                                0.777980993,
                                0.6980331362,
                                0,
                                0.1437211135,
                                0,
                                0,
                                0.4463602219,
                                0.2229313881,
                                0.4819964549,
                                0.4978159119,
                                0.4526238289,
                                0.2024394062,
                                0.5448202671,
                                0.3629974771,
                                0.6253267119,
                                0,
                                0.6525598343,
                                0.0483338229,
                                0.4706790958,
                                0.9000065679,
                                0,
                                0,
                                0,
                                0.8473279693,
                                0.659805538,
                                0,
                                0.6969335515,
                                0,
                                0]
                            %}
                            <!-- List of ROC-AUC values that match the key -->
                            {% set ROC_values = 
                                [0.5771186173,
                                0.477179054,
                                0.510707943,
                                0.4248628287,
                                0,
                                0.4219002579,
                                0,
                                0,
                                0.5186075715,
                                0.5094745814,
                                0.664129183,
                                0.5746623517,
                                0.663935029,
                                0.5430707527,
                                0.5186791158,
                                0.4008792081,
                                0.6817951526,
                                0,
                                0.4191896506,
                                0.5336169739,
                                0.4715895225,
                                0.5535767771,
                                0,
                                0,
                                0,
                                0.5050204236,
                                0.6620365376,
                                0,
                                0.4707517967,
                                0,
                                0]
                                %}
                            
                            <!-- Key for the table each model is assigned to 0 = adsorption, 1 = distribution etc -->
                            {% set table_assignments = [4, 4, 1, 0, 0, 4, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 4, 3, 4, 4, 4, 0, 0, 4, 0, 0, 0, 1, 4, 0, 1] %}
                        
                            <div style="display: flex; flex-wrap: wrap;">
                                <style>
                                    .table_header {
                                        color: #007bff
                                    }
                                </style>
                                
                                <div style="flex: 1; width: 100%;">
                                    <div id="molecule-image{{ smiles_index }}" class="mol-image"></div>
                                </div>

                                <div style="flex: 1; width: 100%;">
                                    <h3 id="table_header">Absorption</h3>
                                    <table style="width: 90%; margin: 10px;">
                                        <thead>
                                            <tr>
                                                <th>Model</th>
                                                <th>Prediction</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for j in range(num_tasks) %}
                                                {% if table_assignments[j] == 0 %}
                                                    <tr>
                                                        <td><strong>
                                                            {{ task_names[j] }}
                                                            <span class="glyphicon glyphicon-question-sign" style="font-size:15px" data-toggle="tooltip" data-placement="right" 
                                                                title="Dataset PRC-AUC: {{ '%0.4g'|format(PRC_values[j]) }}% Dataset ROC-AUC: {{ '%0.4g'|format(ROC_values[j]) }}%">
                                                            </span>    
                                                        </strong></td>                                                        <td>
                                                            {{ '%0.4f'|format(preds[smiles_index][j]) }}
                                                            <span class="glyphicon glyphicon-question-sign" style="font-size:15px" data-toggle="tooltip" data-placement="right" title="{{ '%0.2f'|format(drugbank_percentiles[smiles_index][j]) }}% of DrugBank Approved"></span>
                                                        </td>
                                                        
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div style="flex: 1; width: 100%;">
                                    <h3 id="table_header">Distribution</h3>
                                    <table style="width: 90%; margin: 10px;">
                                        <thead>
                                            <tr>
                                                <th>Model</th>
                                                <th>Prediction</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for j in range(num_tasks) %}
                                                {% if table_assignments[j] == 1 %}
                                                    <tr>
                                                        <td><strong>
                                                            {{ task_names[j] }}
                                                            <span class="glyphicon glyphicon-question-sign" style="font-size:15px" data-toggle="tooltip" data-placement="right" title="Dataset PRC-AUC: {{ '%0.4g'|format(PRC_values[j]) }}% Dataset ROC-AUC: {{ '%0.4g'|format(ROC_values[j]) }}%"></span>    
                                                        </strong></td>                                                        <td>
                                                            {{ '%0.4f'|format(preds[smiles_index][j]) }}
                                                            <span class="glyphicon glyphicon-question-sign" style="font-size:15px" data-toggle="tooltip" data-placement="right" title="{{ '%0.2f'|format(drugbank_percentiles[smiles_index][j]) }}% of DrugBank Approved"></span>
                                                        </td>
                                                        
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <div style="flex: 1; width: 100%;">
                                    <h3 id="table_header">Metabolism</h3>
                                    <table style="width: 90%; margin: 10px;">
                                        <thead>
                                            <tr>
                                                <th>Model</th>
                                                <th>Prediction</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for j in range(num_tasks) %}
                                                {% if table_assignments[j] == 2 %}
                                                    <tr>
                                                        <td><strong>
                                                            {{ task_names[j] }}
                                                            <span class="glyphicon glyphicon-question-sign" style="font-size:15px" data-toggle="tooltip" data-placement="right" title="Dataset PRC-AUC: {{ '%0.4g'|format(PRC_values[j]) }}% Dataset ROC-AUC: {{ '%0.4g'|format(ROC_values[j]) }}%"></span>    
                                                        </strong></td>                                                        <td>
                                                            {{ '%0.4f'|format(preds[smiles_index][j]) }}
                                                            <span class="glyphicon glyphicon-question-sign" style="font-size:15px" data-toggle="tooltip" data-placement="right" title="{{ '%0.2f'|format(drugbank_percentiles[smiles_index][j]) }}% of DrugBank Approved"></span>
                                                        </td>
                                                        
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <div style="flex: 1; width: 100%;">
                                    <h3 id="table_header">Excretion</h3>
                                    <table style="width: 90%; margin: 10px;">
                                        <thead>
                                            <tr>
                                                <th>Model</th>
                                                <th>Prediction</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for j in range(num_tasks) %}
                                                {% if table_assignments[j] == 3 %}
                                                    <tr>
                                                        <td><strong>
                                                            {{ task_names[j] }}
                                                            <span class="glyphicon glyphicon-question-sign" style="font-size:15px" data-toggle="tooltip" data-placement="right" title="Dataset PRC-AUC: {{ '%0.4g'|format(PRC_values[j]) }}% Dataset ROC-AUC: {{ '%0.4g'|format(ROC_values[j]) }}%"></span>    
                                                        </strong></td>                                                        <td>
                                                            {{ '%0.4f'|format(preds[smiles_index][j]) }}
                                                            <span class="glyphicon glyphicon-question-sign" style="font-size:15px" data-toggle="tooltip" data-placement="right" title="{{ '%0.2f'|format(drugbank_percentiles[smiles_index][j]) }}% of DrugBank Approved"></span>
                                                        </td>
                                                        
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <div style="flex: 1; width: 100%;">
                                    <h3 id="table_header">Toxicity</h3>
                                    <table style="width: 90%; margin: 10px;">
                                        <thead>
                                            <tr>
                                                <th>Model</th>
                                                <th>Prediction</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for j in range(num_tasks) %}
                                                {% if table_assignments[j] == 4 %}
                                                    <tr>
                                                        <td><strong>
                                                            {{ task_names[j] }}
                                                            <span class="glyphicon glyphicon-question-sign" style="font-size:15px" data-toggle="tooltip" data-placement="right" title="Dataset PRC-AUC: {{ '%0.4g'|format(PRC_values[j]) }}% Dataset ROC-AUC: {{ '%0.4g'|format(ROC_values[j]) }}%"></span>    
                                                        </strong></td>
                                                        <td>
                                                            {{ '%0.4f'|format(preds[smiles_index][j]) }}
                                                            <span class="glyphicon glyphicon-question-sign" style="font-size:15px" data-toggle="tooltip" data-placement="right" title="{{ '%0.2f'|format(drugbank_percentiles[smiles_index][j]) }}% of DrugBank Approved"></span>
                                                        </td>
                                                       
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            
                        
                        </div>
                        <br>
                        
                        <script>
                            $(document).ready(function() {
                                // Fetch SMILES string
                                var smiles = "{{ smiles[smiles_index] }}";

                                // PUG-REST API URL
                                var pubChemUrl = `https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/smiles/${smiles}/cids/JSON`;

                                // Fetch PubChem link
                                $.getJSON(pubChemUrl, function(data) {
                                    if (data && data.IdentifierList && data.IdentifierList.CID.length > 0) {
                                        var cid = data.IdentifierList.CID[0];
                                        var pubChemLink = `<a href="https://pubchem.ncbi.nlm.nih.gov/compound/${cid}" target="_blank">View on PubChem</a>`;
                                        $("#pubchem-link{{ smiles_index }}").html(pubChemLink);
                                        var nameUrl = `https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/cid/${cid}/property/common_name/JSON`;
                                
                                    }
                                    var imageDiv = document.getElementById("molecule-image{{ smiles_index }}");
                                    var imageUrl = `https://pubchem.ncbi.nlm.nih.gov/image/imagefly.cgi?cid=${cid}&width=300&height=300`;
                                    var imageElement = `<img src="${imageUrl}" alt="Molecule Image" width="250" height="250">`;
                                    imageDiv.innerHTML = imageElement;
                                });
                            });
                        </script>
                    </li>    
                    {% endfor %}
            </ul>
              
            {% if show_more > 0 %}
                <p>... and {{ show_more }} more. Download file for full predictions.</p>
            {% endif %}
        {% endif %}

    </div>
</body>
{% endblock %}




